.a {
	color:black;
	margin:480px;
	padding:10px;
	text-align:center;
	}

.b {
    margin:auto;
	background-color:#99CBDA;
	}
.c {
	background-color:#8EBBC9;
    border: 0px solid #82ABB7;
	text-align: middle;
    border-collapse: collapse;
    width: 100%;
    color:#B2E7FA;
    font-weight: bold;
	}
.d {
    background-color: #fff;
    width: 100%;
    }
.input {
        text-align:left;
        }
.e {
   border-collapse: collapse;
   width: 80%;
    }
   div {
    cursor:url(cursor.png),pointer;
	font-family:Trebuchet MS;
    }
.f {
	size:8;
	color:#82ABB7;
    font-size: 100%;
	}
etiquetainventada1 {
        line-height:0.1;
        }
#abajo {
	width:100%;
	height:8%;
	position:absolute;
	bottom:0;
	left:0;
	    }
#g:hover {
    background-color: #6D8C95;
    color: #0000;
    text-decoration:none;
        }
#g:visited, #g:link {
    color: #B2E7FA;
    text-decoration:none;
        }
.negrita {
    font-weight: bold;
	color:#82ABB7;
    font-size: 110%;
	}
.cursiva {
    font-style: italic;
	color:#82ABB7;
    font-size: 110%;
	}
.subrayado {
    text-decoration: underline;
	color:#82ABB7;
    font-size: 110%;
	}
.tachado {
    text-decoration: line-through;
	color:#82ABB7;
    font-size: 110%;
	}
.derecha {
	float:right;
	}
.izquierda {
	float:left;
	}

.procesar {
    	border: 2px solid;
	background-color: #2E81F5;
	border-radius: 10px;
	border-color: #285BC1;
	height: 60px;
	width: 250px;
	text-align: center;
	float: right;
	margin-right: 32px;
	}
.procesar2 {
	color: white;
	font-size: 20px;
	}
.borrar {
    	border: 2px solid;
	background-color: #DD9494;
	border-radius: 10px;
	border-color: #BF6565;
	height: 25px;
	width: 250px;
	text-align: center;
	float: left;
	margin-bottom: 1px;
	}
.borrar2 {
	color: white;
	font-size: 20px;
	height: 40px;
	margin-top: 0px;
	}
.limpiar {
    	border: 2px solid;
	background-color: #FA4747;
	border-radius: 10px;
	border-color: #BF6565;
	height: 25px;
	width: 250px;
	text-align: center;
	float: left;
	}
.add {
    border: 2px solid;
	background-color: #8FDDA3;
	border-radius: 10px;
	border-color: #57BA55;
	width: 9.6%;
	text-align:center;
	}
.anadir2 {
    	border: 2px solid;
	background-color: #DADF4F;
	border-radius: 10px;
	border-color: #C5B827;
	height: 25px;
	width: 70px;
	text-align: center;
	float: right;
	margin-right: 30px;
	margin-top: 0px;
	}
.espacio {
	line-height: 2.3;
	}
.texto {
	width: 160px;
	border: 2px solid #999;
	border-radius: 4px;
	}
.valores {
	height: 195px;
	border: 2px solid #999;
	width: 250px;
	overflow: hidden;
	border-radius: 8px;
        margin-top: -9px;
}
.valores select {
    width: 251px;
    border: none;
    margin-top: 4px;
  }

.textarea {
	height: 205px;
	border: 2px solid #999;
	width: 250px;
	border-radius: 8px;
	margin-top: 37px;
	margin-right: 30px;
	resize: none;
	}
	
button {
    background-color: transparent;
    border: none;
    text-decoration: none;
}
.desplegable {
    margin-top: 33px;
    border: 2px solid #999;
    border-radius: 4px;
    width: 248px;
    margin-right: 33px;
    }
